@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600&display=swap');

:root {
  --primary-color: #161819;
  --secondary-color: #222527;
  --border-primary-color: #333333;
  --text-primary-color: white;
}

.copyLanguageElem:hover label {
  background-color: #6666;
  opacity: 1 !important;
}

.copyLanguageElemSelected {
  opacity: 1 !important;
}

.secondSubtitles {
  text-shadow: 2px 2px 2px #000;
  color: #9cfde4 !important;
}

.atvwebplayersdk-captions-text {
  pointer-events: all;
  cursor: pointer;
}

.atvwebplayersdk-captions-text:hover {
  background-color: red !important;
}

.captionsParent {
  display: flex !important;
  flex-direction: column !important;
}

.translatedList {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  background-color: #fff;
  z-index: 10000;
  padding: 10px;
  max-height: 200px;
}

.translatedElem:hover {
  background: gray;
}

#dv-web-player {
  display: flex;
}

.sidebar {
  position: relative;
  z-index: 99999;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--primary-color);
  color: var(--text-primary-color);
  width: 20%;
  height: 100%;
  padding-block: 16px;
  overflow-y: auto;
}

.sidebar hr {
  margin-top: 14px;
}

.historyTitle {
  font-size: 18px;
  text-align: center;
}

.historyElem {
  padding: 16px;
  border-bottom: 1px solid #eeeeee;
  font-size: 16px;
  cursor: pointer;
}

.historyElem span {
  display: block;
  font-size: 16px;
  line-height: 1.5;
  pointer-events: none;
}

.historyElem span:first-child {
  margin-bottom: 8px;
  font-weight: bold;
}

.historyElem span:last-child {
  opacity: 0.8;
}

.historyElem:hover {
  background-color: var(--secondary-color);
}

.visibleSubtitles {
  position: fixed;
  bottom: 15%;
  left: 40%;
  z-index: 9999999999;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.visibleSubtitles .subtitle {
  margin-block: 0;
  padding: 5px;
  border-radius: 12px;
  font-family: Netflix Sans, Helvetica Nueue, Helvetica, Arial, sans-serif;
  font-size: 40px;
  line-height: 1.5;
  font-weight: 600;
  text-shadow: #000000 0px 0px 7px;
  text-align: center;
  color: var(--text-primary-color);
}

.visibleSubtitles .subtitle:last-child {
  border-top: 1px solid #ffffff;
  font-weight: 400;
  color: #feffc3;
}

.visibleSubtitles .subtitle:hover {
  background-color: var(--primary-color);
  cursor: pointer;
}

.translated {
  opacity: 0 !important;
}

.btnGroup {
  display: flex;
}

.cancelButton {
  width: 50%;
  padding: 16px;
  border: 1px solid #333333;
  border-top: none;
  background-color: var(--primary-color);
  font-size: 20px;
  text-align: center;
  white-space: nowrap;
  color: var(--text-primary-color);
  cursor: pointer;
  transition: background-color 0.3s;
}

.saveButton {
  width: 50%;
  padding: 16px;
  border: 1px solid #333333;
  border-top: none;
  background-color: var(--primary-color);
  font-size: 20px;
  text-align: center;
  white-space: nowrap;
  color: var(--text-primary-color);
  cursor: pointer;
  transition: background-color 0.3s;
}

.cancelButton:first-child {
  border-radius: 0 0 0 8px;
}

.saveButton:last-child {
  border-radius: 0 0 8px 0;
}

.cancelButton:hover,
.saveButton:hover {
  background-color: var(--secondary-color);
}

.serviceCheckbox {
  display: flex;
  align-items: center;
  max-width: 100%;
  width: auto;
  padding: 16px;
  border: 1px solid #333333;
  border-top: none;
  background-color: var(--primary-color);
  white-space: nowrap;
  font-size: 20px;
  color: var(--text-primary-color);
  cursor: pointer;
  transition: background-color 0.3s;
}

.serviceCheckbox > input[type="checkbox"] {
  display: none;
}

.serviceCheckbox:first-child {
  border-top: 1px solid #333333;
  border-radius: 8px 8px 0 0;
}

.serviceCheckbox:last-child {
  border-radius: 0 0 8px 8px;
}

.serviceCheckbox:hover {
  background-color: var(--secondary-color);
}

.serviceCheckbox svg {
  margin-right: 8px;
  width: 30px;
  height: 30px;
}

.serviceForm {
  display: none;
}

.serviceCheckbox:has(input:checked) + .serviceForm {
  display: block;
}

.serviceCheckbox:before {
  content: "";
  width: 30px !important;
  height: 30px !important;
  margin-right: 8px !important;
  border-top: 1px solid #333333;
  border-radius: 6px;
  background-color: var(--secondary-color);
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"><path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z" fill="white"/></svg>');
  background-size: 0;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-size 0.3s;
}

.serviceCheckbox:hover:before {
  background-size: 45%;
}

.serviceCheckbox:has( > input[type="checkbox"]:checked):before {
  background-size: 65%;
}

.serviceInput {
  height: auto !important;
  margin: 0 !important;
  padding: 16px !important;
  border: 1px solid #333333 !important;
  border-top: none !important;
  border-radius: 0 !important;
  background-color: var(--primary-color) !important;
  font-size: 20px;
  color: var(--text-primary-color);
  resize: none;
}

.serviceInput:first-child {
  border-top: 1px solid #333333 !important;
  border-radius: 8px 8px 0 0 !important;
}

.serviceInput:last-child {
  border-radius: 0 0 8px 8px !important;
}

.menuButton {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(20px, -50%);
  padding: 8px 10px;
  border: none;
  border-radius: 10px;
  background-color: transparent;
  color: var(--text-primary-color);
}

.menuButton:hover {
  background-color: var(--primary-color);
  cursor: pointer;
}

.menu {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 9999999999;
  transform: translate(-50%, -50%);
  display: none;
  flex-direction: column;
  align-items: stretch;
  max-width: 100%;
  width: 500px;
  border-radius: 8px;
  box-shadow: -5px 3px 12px 3px var(--primary-color);
  box-sizing: border-box;
}

.menu * {
  box-sizing: border-box;
}

.menu.visible {
  display: flex;
}

.serviceForm input {
  max-width: 100%;
  width: 100%;
  height: auto !important;
  margin: 0 !important;
  padding: 16px !important;
  border: 1px solid #333333 !important;
  border-top: none !important;
  border-radius: 0 !important;
  background-color: var(--primary-color) !important;
  font-size: 20px;
  color: var(--text-primary-color);
}

.serviceForm input {
  outline: none;
}

.show {
  position: fixed !important;
  z-index: 100000;
}

*:has(.cardsTip) {
  position: relative;
}

.cardsTip {
  position: fixed;
  z-index: 100000;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 12px;
  box-shadow: 0 0 10px 0 gray;
  background-color: #fff;
}

.cardList {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-block: 0;
  padding-left: 0;
  list-style: none;
  gap: 10px;
}

.cardRow {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cardRow span {
  margin-right: auto;
  white-space: nowrap;
}

.cardRow button {
  white-space: nowrap;
}

.suggestion-btn {
  padding: 4px 8px;
  border: 1px solid rgba(255, 255, 255, 0.10);
  border-radius: 4px;
  background: var(--secondary-color);
  font-size: 14px;
  font-weight: 500;
  color: var(--text-primary-color);
  cursor: pointer;
}
