.copyLanguageElem:hover label {
  background-color: #6666;
  opacity: 1 !important;
}

.copyLanguageElemSelected {
  opacity: 1 !important;
}

.secondSubtitles {
  text-shadow: 2px 2px 2px #000;
  color: #9cfde4 !important;
}

.atvwebplayersdk-captions-text {
  pointer-events: all;
  cursor: pointer;
}

.atvwebplayersdk-captions-text:hover {
  background-color: red !important;
}

.captionsParent {
  display: flex !important;
  flex-direction: column !important;
}

.translatedList {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  background-color: #fff;
  z-index: 10000;
  padding: 10px;
  max-height: 200px;
}

.translatedElem:hover {
  background: gray;
}

#dv-web-player {
  display: flex;
}

.sidebar {
  position: relative;
  z-index: 99999;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #46415e;
  color: white;
  width: 20%;
  height: 100%;
  padding-block: 16px;
  overflow-y: auto;
}

.sidebar hr {
  margin-top: 14px;
}

.historyElem {
  padding: 16px;
  border-bottom: 1px solid #eeeeee;
  font-size: 20px;
}

.historyElem span {
  display: block;
  font-size: 20px;
  line-height: 1.5;
}

.historyElem span:first-child {
  margin-bottom: 8px;
  font-weight: bold;
}

.historyElem span:last-child {
  opacity: 0.8;
}

.historyElem:hover {
  background-color: #6666;
}

.visibleSubtitles {
  position: fixed;
  bottom: 15%;
  left: 40%;
  z-index: 9999999999;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.visibleSubtitles .subtitle {
  margin-block: 0;
  padding-block: 5px;
  font-family: Netflix Sans, Helvetica Nueue, Helvetica, Arial, sans-serif;
  font-size: 40px;
  line-height: 1.5;
  font-weight: 600;
  text-shadow: #000000 0px 0px 7px;
  text-align: center;
  color: #ffffff;
}

.visibleSubtitles .subtitle:last-child {
  border-top: 1px solid #ffffff;
  font-weight: 400;
  color: #feffc3;
}

.visibleSubtitles .subtitle:hover {
  background-color: #6666;
  cursor: pointer;
}

.translated {
  opacity: 0 !important;
}

.saveButton {
  width: 100%;
  padding: 16px;
  border: 1px solid #333333;
  border-top: none;
  background-color: #ffffff;
  font-size: 20px;
  text-align: center;
  white-space: nowrap;
  color: #222222;
  cursor: pointer;
  transition: background-color 0.3s;
}

.saveButton:last-child {
  border-radius: 0 0 8px 8px;
}

.saveButton:hover {
  background-color: #eeeeee;
}

.serviceCheckbox {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 16px;
  border: 1px solid #333333;
  border-top: none;
  background-color: #ffffff;
  white-space: nowrap;
  font-size: 20px;
  color: #222222;
  cursor: pointer;
  transition: background-color 0.3s;
}

.serviceCheckbox:first-child {
  border-top: 1px solid #333333;
  border-radius: 8px 8px 0 0;
}

.serviceCheckbox:last-child {
  border-radius: 0 0 8px 8px;
}

.serviceCheckbox:hover {
  background-color: #eeeeee;
}

.serviceCheckbox svg {
  margin-right: 8px;
  width: 30px;
  height: 30px;
}

.serviceForm {
  display: none;
}

.serviceCheckbox:has(input:checked) + .serviceForm {
  display: block;
}

.saveCheckbox {
  position: static !important;
  bottom: 0 !important;
  width: 16px !important;
  height: 16px !important;
  margin-right: 8px !important;
}

.serviceInput {
  height: auto !important;
  margin: 0 !important;
  padding: 16px !important;
  border: 1px solid #333333 !important;
  border-top: none !important;
  border-radius: 0 !important;
  background-color: #ffffff !important;
  font-size: 20px;
  color: #222222;
}

.serviceInput:first-child {
  border-top: 1px solid #333333 !important;
  border-radius: 8px 8px 0 0 !important;
}

.serviceInput:last-child {
  border-radius: 0 0 8px 8px !important;
}

.menuButton {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(20px, -50%);
  border: none;
  background-color: transparent;
  color: #FFFFFF;
}

.menuButton:hover {
  cursor: pointer;
}

.menu {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 9999;
  transform: translate(-50%, -50%);
  display: none;
  flex-direction: column;
  align-items: stretch;
  max-width: 100%;
  width: 500px;
  border-radius: 8px;
  box-shadow: -5px 3px 12px 3px #777;
}

.menu.visible {
  display: flex;
}

.serviceForm input {
  width: 100%;
  height: auto !important;
  margin: 0 !important;
  padding: 16px !important;
  border: 1px solid #333333 !important;
  border-top: none !important;
  border-radius: 0 !important;
  background-color: #ffffff !important;
  font-size: 20px;
  color: #222222;
}
