@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Barlow;
}

.container {
  width: 400px;
  height: 300px;
  background-color: #27233A;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.header {
  background: linear-gradient(135deg, #9EFEE1 0%, #5FDEB8 100%);
  width: 100%;
  height: 78px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerText {
  font-size: 16px;
  padding-left: 7px;
  color: #27233A;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items: left;
}

.text2 {
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
}

.headerIcon {
  width: 33px;
  height: 33px;
}

.headerIcon img {
  width: 33px;
  height: 33px;
}

.form {
  width: 100%;
  font-size: 13px;
  padding: 7px;
  line-height: 17px;
}

.smallContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 40px;
  font-size: 16px;
  font-weight: 500;
}

.switch {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 18px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 30px;
  background-color: #626262;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 3px;
  border-radius: 50%;
  background-color: #9b9b9b;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
}

.slider:hover:before {
  background-color: #fff;
}

input:checked+.slider {
  background-color: #42D369;
}

input:checked+.slider:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
  background-color: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}

.secondLanguage {
  background-color: #46415E;
  border: none;
  color: white;
}

.customSelect {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 129px;
  height: 31px;
  border: 1px solid rgba(255, 255, 255, 0.10);
  background: #46415E;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-size: 12px;
  font-weight: 500;
  outline: none;
}

#langLabel {
  max-width: 175px;
}